{{#extend "sample-bundle-layout-2d"}}

{{#content "head"}}
    <title>Sample SDK 2D MapBox</title>
{{/content}}

{{#content "style"}}
    <style>
        #geoportalMap {
            height: 800px;
            width: 800px;
        }
    </style>
{{/content}}

{{#content "body"}}
    <h1>Une carte affichant une couche MapBox (Plan IGN)</h1>
    <p>NB : le clic sur les features s'obtient par l'ajout du controle GetFeatureInfo (ici : caché et activé).</p>
    <div id="geoportalMap"></div>
{{/content}}

{{#content "js"}}
    <script>
        Gp.Map.load('geoportalMap',{
            reloadConfig : false,
            apiKey : "{{apikey}}",
            center:{
                x : 407444,
                y : 5856585
            },
            controlsOptions : {
                "layerSwitcher" : {},
                "getfeatureInfo" : {
                    options : {
                        auto : true,
                        hidden: true
                    }
                },
                "layerimport" : {}
            },
            layersOptions : {
                'GEOGRAPHICALGRIDSYSTEMS.MAPS': {
                },
                'PLAN.IGN.GEOPORTAIL' : {
                    format : "MapBox",
                    url : "{{resources}}/MAPBOX/styles/PLAN.IGN.GEOPORTAIL.json"
                }
            },
            zoom : 6
        });
    </script>
{{/content}}
{{/extend}}
