{{#extend "sample-bundle-layout-2d"}}

{{#content "head"}}
    <title>Sample SDK 2D MapBox</title>
{{/content}}

{{#content "style"}}
    <style>
        #geoportalMap {
            height: 800px;
            width: 800px;
        }
    </style>
{{/content}}

{{#content "body"}}
    <h1>Une carte affichant une couche MapBox avec un style surchargé</h1>
    <p>NB : le clic sur les features s'obtient par l'ajout du controle GetFeatureInfo (ici : caché et activé).</p>
    <div id="geoportalMap"></div>
{{/content}}

{{#content "js"}}
    <script>
        Gp.Map.load('geoportalMap',{
            configUrl : "{{resources}}/autoconf.js",
            controlsOptions : {
                "layerSwitcher" : {},
                "getfeatureInfo" : {
                    options : {
                        auto : true,
                        hidden: true
                    }
                },
                "layerimport" : {}
            },
            layersOptions : {
                'GEOGRAPHICALGRIDSYSTEMS.MAPS': {
                },
                'monMapBox' : {
                    zoomToExtent : true,
                    format : "MapBox",
                    url : "{{resources}}/MAPBOX/styles/planign/accentue.json",
                    mapboxOptions : {
                        "center": [2, 48],
                        "layers": [{
                            "id": "bckgrd",
                            "type": "fill",
                            "source": "plan_ign",
                            "source-layer": "fond_opaque",
                            "minzoom": 0,
                            "layout": {
                                "visibility": "visible"
                            },
                            "paint": {
                                "fill-color": "#000000",
                                "fill-opacity": 1
                            }
                        }]
                    }
                }
            },
            zoom : 6
        });
    </script>
{{/content}}
{{/extend}}
