{{#extend "sample-bundle-layout-3d"}}

{{#content "head"}}
    <title>Sample SDK 3D WMS GPP</title>
{{/content}}

{{#content "style"}}
    <style>
        #viewerDiv {
            height: 600px;
            width: 1200px;
            position : "relative";
        }
    </style>
{{/content}}

{{#content "body"}}
    <h1>Test 3D</h1>
    <h2>Carte 3D.</h2>
    <div id="BoutonSwitchToItowns" hidden>
        <input type="button" name="switch" onclick="switchTo3D();" value="Switch from 2D to 3D"/><br/>
    </div>
    <div id="BoutonSwitchToOl">
        <input type="button" name="switch" onclick="switchTo2D();" value="Switch from 3D to 2D"/><br/>
    </div>
    <div id="viewerDiv"></div><br/>
    {{/content}}

{{#content "js"}}
    <script>

        const layerVT = {
            visibility : true,
            queryable : true,
            grayScaled : true,
            showLabels : true,
            title : "Themes PLANIGN",
            description : "Mise en place des themes avec des filtres attributaires pour la couche PLANIGN...",
            format : "MapBox",
            position : 2,
            projection : "EPSG:3857",
            tileMatrixSet : "PM",
            // url : "https://vectortiles.ign.fr/demonstrateur/styles/planign.json",
            url : "{{resources}}/MAPBOX/styles/planign/standard.json",
            sprite : "{{resources}}/MAPBOX/geojson/sprite/PlanIgnTest",
            styles : [
                {
                    "name" : "style 'gris'",
                    "url" : "{{resources}}/MAPBOX/styles/planign/gris.json",
                    "selected" : true
                },
                {
                    "name" : "style 'accentue'",
                    "url" : "{{resources}}/MAPBOX/styles/planign/accentue.json",
                },
            ],
            filtersSummary : "Filtres",
            filters : [
                {
                    propertyName:"bati_ponc.symbo",
                    filterName:"Batiments ponctuels",
                    configuration : {
                        type : 0,
                        selected:[0,1,1,1,1,1,1,1]
                    }
                },
                {
                    propertyName:"bati_surf.symbo",
                    filterName:"Batiments surfaciques",
                    configuration : {
                        type : 0,
                        selected:[0,1,1,1,1,1,1,1]
                    }
                }
            ]
        };

        var map = Gp.Map.load("viewerDiv", {
            configUrl : "{{resources}}/autoconf.js", // apiKey : "{{apikey}}",
            viewMode : "3d",
            layersOptions : {
                "ORTHOIMAGERY.ORTHOPHOTOS" : {
                },
                'coucheMapBoxIgnThemesPLANIGN' : layerVT,
                // 'monMapBoxGeoJSON' : {
                //     format : "MapBox",
                //     urlService : "https://vectortiles.ign.fr/rok4server/1.0.0/PLAN.IGN/${z}/${x}/${y}.pbf",
                //     url : "{{resources}}/MAPBOX/styles/planign.json"
                // },
                "ELEVATION.ELEVATIONGRIDCOVERAGE" : {
                    type : "elevation"
                }
            },
            center : {
                x : 2.357,
                y : 48.83
            },
            controlsOptions : {
                layerSwitcher : {
                    maximised : true
                }
            }
        });

        /**
          * fonction de bascule vers 3D
          */
        function switchTo3D () {
            map = map.switch2D3D("3d");
            document.getElementById("BoutonSwitchToOl").style.display = "inline";
            document.getElementById("BoutonSwitchToItowns").style.display = "none";
        };

        /**
          * fonction de bascule vers 2D
          */
        function switchTo2D () {
            map = map.switch2D3D("2d");
            document.getElementById("BoutonSwitchToItowns").style.display = "inline";
            document.getElementById("BoutonSwitchToOl").style.display = "none";
        };
    </script>
{{/content}}
{{/extend}}
